tensortrain/dataset/*
tensortrain/kaggle_dogs_vs_cats/*
tensortrain/cnntrain/*
*.pyc
*/__pycache__/*
/*/*.pyc
capturedProduct.jpg
Python-3.6.8/Python/_warnings.c
Python-3.6.8/Python/_warnings.o
Python-3.6.8/Python/asdl.c
Python-3.6.8/Python/asdl.o
Python-3.6.8/Python/ast.c
Python-3.6.8/Python/ast.o
Python-3.6.8/Python/bltinmodule.c
Python-3.6.8/Python/bltinmodule.o
Python-3.6.8/Python/ceval_gil.h
Python-3.6.8/Python/ceval.c
Python-3.6.8/Python/ceval.o
Python-3.6.8/Python/codecs.c
Python-3.6.8/Python/codecs.o
Python-3.6.8/Python/compile.c
Python-3.6.8/Python/compile.o
Python-3.6.8/Python/condvar.h
Python-3.6.8/Python/dtoa.c
Python-3.6.8/Python/dtoa.o
Python-3.6.8/Python/dup2.c
Python-3.6.8/Python/dynamic_annotations.c
Python-3.6.8/Python/dynamic_annotations.o
Python-3.6.8/Python/dynload_aix.c
Python-3.6.8/Python/dynload_dl.c
Python-3.6.8/Python/dynload_hpux.c
Python-3.6.8/Python/dynload_next.c
Python-3.6.8/Python/dynload_shlib.c
Python-3.6.8/Python/dynload_shlib.o
Python-3.6.8/Python/dynload_stub.c
Python-3.6.8/Python/dynload_win.c
Python-3.6.8/Python/errors.c
Python-3.6.8/Python/errors.o
Python-3.6.8/Python/fileutils.c
Python-3.6.8/Python/fileutils.o
Python-3.6.8/Python/formatter_unicode.c
Python-3.6.8/Python/formatter_unicode.o
Python-3.6.8/Python/frozen.c
Python-3.6.8/Python/frozen.o
Python-3.6.8/Python/frozenmain.c
Python-3.6.8/Python/frozenmain.o
Python-3.6.8/Python/future.c
Python-3.6.8/Python/future.o
Python-3.6.8/Python/getargs.c
Python-3.6.8/Python/getargs.o
Python-3.6.8/Python/getcompiler.c
Python-3.6.8/Python/getcompiler.o
Python-3.6.8/Python/getcopyright.c
Python-3.6.8/Python/getcopyright.o
Python-3.6.8/Python/getopt.c
Python-3.6.8/Python/getopt.o
Python-3.6.8/Python/getplatform.c
Python-3.6.8/Python/getplatform.o
Python-3.6.8/Python/getversion.c
Python-3.6.8/Python/getversion.o
Python-3.6.8/Python/graminit.c
Python-3.6.8/Python/graminit.o
Python-3.6.8/Python/import.c
Python-3.6.8/Python/import.o
Python-3.6.8/Python/importdl.c
Python-3.6.8/Python/importdl.h
Python-3.6.8/Python/importdl.o
Python-3.6.8/Python/importlib_external.h
Python-3.6.8/Python/importlib.h
Python-3.6.8/Python/makeopcodetargets.py
Python-3.6.8/Python/marshal.c
Python-3.6.8/Python/marshal.o
Python-3.6.8/Python/modsupport.c
Python-3.6.8/Python/modsupport.o
Python-3.6.8/Python/mysnprintf.c
Python-3.6.8/Python/mysnprintf.o
Python-3.6.8/Python/mystrtoul.c
Python-3.6.8/Python/mystrtoul.o
Python-3.6.8/Python/opcode_targets.h
Python-3.6.8/Python/peephole.c
Python-3.6.8/Python/peephole.o
Python-3.6.8/Python/pyarena.c
Python-3.6.8/Python/pyarena.o
Python-3.6.8/Python/pyctype.c
Python-3.6.8/Python/pyctype.o
Python-3.6.8/Python/pyfpe.c
Python-3.6.8/Python/pyfpe.o
Python-3.6.8/Python/pyhash.c
Python-3.6.8/Python/pyhash.o
Python-3.6.8/Python/pylifecycle.c
Python-3.6.8/Python/pylifecycle.o
Python-3.6.8/Python/pymath.c
Python-3.6.8/Python/pymath.o
Python-3.6.8/Python/pystate.c
Python-3.6.8/Python/pystate.o
Python-3.6.8/Python/pystrcmp.c
Python-3.6.8/Python/pystrcmp.o
Python-3.6.8/Python/pystrhex.c
Python-3.6.8/Python/pystrhex.o
Python-3.6.8/Python/pystrtod.c
Python-3.6.8/Python/pystrtod.o
Python-3.6.8/Python/Python-ast.c
Python-3.6.8/Python/Python-ast.o
Python-3.6.8/Python/pythonrun.c
Python-3.6.8/Python/pythonrun.o
Python-3.6.8/Python/pytime.c
Python-3.6.8/Python/pytime.o
Python-3.6.8/Python/random.c
Python-3.6.8/Python/random.o
Python-3.6.8/Python/README
Python-3.6.8/Python/sigcheck.c
Python-3.6.8/Python/strdup.c
Python-3.6.8/Python/structmember.c
Python-3.6.8/Python/structmember.o
Python-3.6.8/Python/symtable.c
Python-3.6.8/Python/symtable.o
Python-3.6.8/Python/sysmodule.c
Python-3.6.8/Python/sysmodule.o
Python-3.6.8/Python/thread_foobar.h
Python-3.6.8/Python/thread_nt.h
Python-3.6.8/Python/thread_pthread.h
Python-3.6.8/Python/thread.c
Python-3.6.8/Python/thread.o
Python-3.6.8/Python/traceback.c
Python-3.6.8/Python/traceback.o
Python-3.6.8/Python/wordcode_helpers.h
Python-3.6.8/Python/clinic/bltinmodule.c.h
Python-3.6.8/Python/clinic/import.c.h
